* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 
    border: 1px solid white; */
}

:root {
    --PRIMARY-COLOR: #021b1a;
    --SECONDARY-COLOR: #06302b;
    --TEXT-COLOR: #f1f7f8;
    --LINK-COLOR: hsla(173, 78%, 11%, 0.5);
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--TEXT-COLOR);
}

.block {
    display: block;
}

body {
    background-color: var(--PRIMARY-COLOR);
    color: var(--TEXT-COLOR);
    margin: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

form {
    margin-top: 2rem;
    color: var(--TEXT-COLOR);
}

input {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 25%;
    border-radius: 6px;
}

.button {
    font-size: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 6px;
}

.invalid {
    display: none;
}

.section-main {
    font-size: 1.15rem;
    margin-top: 2rem;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.section-main > div {
    background-color: var(--SECONDARY-COLOR);
    border-radius: 1rem;
}

.main {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 1rem;
}

.avatar {
    width: 16rem;
    height: fit-content;
    border-radius: 0.5rem;
}

.details {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profileName {
    font-size: 3rem;
}

.followers-area,
.following-area,
.repos-area {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 8rem;
}

.followers-area:hover,
.following-area:hover,
.repos-area:hover {
    background-color: var(--LINK-COLOR);
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-row: 2;
    grid-column: 3 / span 3;
    min-height: 8rem;
}

.bio :first-child {
    font-size: 0.75rem;
}

.bio :last-child {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
}
