* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 
    border: 1px black solid; */
}

img {
    display: block;
}

.block {
    display: block;
}

body {
    background-color: darkgray;
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

form {
    margin-top: 2rem;
}

input {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 25%;
    border-radius: 6px;
}

.button {
    font-size: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 6px;
}

.invalid {
    display: none;
}

.section-result {
    font-size: 1.15rem;
    margin: 2rem 0;
    padding: 1rem;
    display: none;
    flex-direction: column;
}

.result-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-left {
    align-items: center; /*  */
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 25%;
    gap: 1rem;
}

.main-left .name {
    margin-left: 0.5rem;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.profileName {
    font-size: 2rem;
}

.main-left > img {
    max-width: 10rem;
    height: auto;
    border-radius: 26px;
}

.main-left > div,
.main-left > img,
.main-left > p {
    flex: 1 1 50%;
}

.main-left .details {
    flex: 1 1 100%;
}

.main-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex: 1 1 48%;
    gap: 6rem;
}

.main-right:first-child {
    width: auto;
}

.bio {
    margin-top: 2rem;
}

.avatar {
    border-radius: 25%;
}
