@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BACKGROUND-COLOR: #0a0a0a;
    --SECONDARY-COLOR: #171717;
    --TEXT-COLOR: #f1f7f8;
    --LINK-COLOR: hsla(173, 78%, 11%, 0.5);

    --BODY-FONT: "Inter", sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--TEXT-COLOR);
}

.block {
    display: block;
}

body {
    background-color: var(--BACKGROUND-COLOR);
    color: var(--TEXT-COLOR);
    margin: 3rem;
    font-family: var(--BODY-FONT);
    font-weight: 400;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    padding: 1rem;
    background-color: var(--SECONDARY-COLOR);
    display: flex;
    align-items: center;
    font-family: var(--BODY-FONT);
    color: var(--TEXT-COLOR);
    gap: 1rem;
    border-radius: 2rem;
    justify-content: right;
}

form label {
    font-weight: 700;
}

form input {
    background-color: var(--BACKGROUND-COLOR);
    border: none;
    font-family: var(--BODY-FONT);
    flex: 1;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--TEXT-COLOR);
}

form .button {
    z-index: 5;
    border: none;
    border-radius: 1rem;
    background-color: var(--BACKGROUND-COLOR);
    color: inherit;
    font: inherit;
    height: 3rem;
    width: 10rem;
    justify-self: right;
    cursor: pointer;
}

.invalid {
    display: none;
}

.section-main {
    font-size: 1.15rem;
    margin-top: 2rem;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.section-main > div {
    background-color: var(--SECONDARY-COLOR);
    border-radius: 2rem;
    padding: 1rem;
}

.main {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
}

.avatar img {
    border-radius: 1rem;
    width: 11rem;
    aspect-ratio: 1/1;
}

.name {
    padding-left: 1rem;
    align-self: center;
    width: 20rem;
}

.profileName {
    font-size: 3rem;
    line-height: normal;
    font-weight: 700;
}

.details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.25rem;
    flex-basis: 100%;
}

.main a {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: var(--BACKGROUND-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 1rem;
    display: inline;
    margin-right: 0.25rem;
}

.followers-area,
.following-area,
.repos-area {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.followers-area:hover,
.following-area:hover,
.repos-area:hover {
    background-color: var(--LINK-COLOR);
}

.bio {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-row: 2;
    grid-column: 3 / span 3;
    min-height: 8rem;
}

.bio :last-child {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
}
